[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.adf-move {
  cursor: move;
  cursor: -webkit-grabbing;
}

.edit .column {
  min-height: 120px;
  border: 1px #ccc dashed;
  padding-top: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

pre.edit {
  margin-top: 15px;
}

.column .placeholder {
  opacity: 0.4;
  background: #E8E8E8;
  border: 1px dashed #505050;
  margin-bottom: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.widget h3 a {
  text-decoration: none;
}

.dashboard-container h1 a {
  text-decoration: none;
}

.padding-bottom {
  padding-bottom: 5px;
}

.adf-flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
/*
 modal dialog in fullscreen
*/
.dashboard-modal.widget-fullscreen .modal-dialog {
 width: 98%;
}


.layout-minimap {
  height: 155px;
  width: 77%;
  margin: 0 auto;
  margin-bottom: 10px;
  cursor: pointer;
}

.layout-minimap:hover {
    outline: none;
    border-color: #6D6D70;
    background: #f5f7fa;
    border-radius: 3px;
}

.layout-minimap > div {
    padding: 3px;
}

.layout-minimap > div > div {
    background: #fff;
    color: transparent;
    border-radius: 3px;
    border: 1px solid #e0e5ed;
    transition: all 0.5s ease;
}

div.minimap-selected {
  background:#00A1E0 !important;
}